<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProductsMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProductsMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header class="container mt-3">
        <nav class="navigation">
            <img src="/svg/logo.svg" alt="Logo with the letter P typed in plaster font" />
            <div class="space-x-4">
                <a href="#" class="text-black text-lg hover:text-sky-400 transition duration-150 ease-in-out">Products</a>
                <a href="#" class="text-black text-lg">About</a>
                <a href="#" class="text-black text-lg">Contact us</a>
            </div>
            <img src="/svg/sun.svg" alt="Light mode" />
        </nav>
    </header>
	<div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ProductsMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
