@model IEnumerable<ProductsMVC.Models.Product>

@{
    ViewData["Title"] = "Modify Products";
}

<section>
    <h1 class="text-3xl text-center mt-16 font-medium">
        &#8213;  MODIFY PRODUCTS  &#8213;
    </h1>

    <a asp-action="Create" class="mx-auto block mt-8 text-center max-w-[500px] py-2 border-1 border-custom-blue rounded font-bold text-lg text-custom-blue hover:bg-custom-blue hover:text-white transition-all duration-150 ease-out">
        ADD PRODUCT
    </a>

    <div class="mt-5 flex flex-wrap space-x-2 justify-around">

        @foreach (var product in Model)
        {
            <a asp-action="ProductDetails" asp-route-id="@product.Id" class="text-black">
                <div class="mb-4 group ">
                    <div class="w-[300px] aspect-square overflow-clip rounded">
                        <img src=@product.ImageUrl alt="..." class="w-full h-full object-fill group-hover:scale-105 transition duration-300 ease-out" />
                    </div>
                    <p class="max-w-[300px] font-medium pt-1">@product.ProductName</p>
                    <p class="text-gray-400">R @product.ProductPrice</p>
                </div>
            </a>
        }

    </div>
</section>