@{
	ViewData["Title"] = "Product Details";
}


<div class="mt-10 mb-3 text-center">
	<a asp-action="Index">Modify products</a> &#62; <span class="text-gray-500">@Model.ProductName</span>
</div>
<hr />

<div class="partialView flex space-x-36 justify-center mt-4"></div>

@section Scripts {
	<script>
		$('.partialView').load("/Product/DetailsPartial")
	</script>
}
