@{
    ViewData["Title"] = "About";
}

<section class="space-y-10 mt-16">
    <div class="p-10 bg-gray-200 rounded-lg space-y-1 max-w-5xl mx-auto">
        <h1 class="text-4xl font-medium">About Premium</h1>
        <p>
            Welcome to <span class="font-bold">Premium</span> your premier destination for luxury and bespoke furniture pieces.
            At <span class="font-bold">Premium</span>, we believe that your home is more than just a place to live – it is a reflection
            of your unique taste, personality, and lifestyle. We are dedicated to providing you
            with exquisite furniture that not only enhances the beauty of your space but also offers
            unparalleled comfort and functionality.
        </p>
    </div>

    <div class="p-10 rounded-lg space-y-1 max-w-5xl mx-auto">
        <h1 class="text-4xl font-medium">Our Story</h1>
        <p>
            <span class="font-bold">Premium</span> was born out of a passion for exceptional craftsmanship and timeless design. Our journey
            began with a simple idea: to create furniture that stands out in quality, style, and sophistication.
            Over the years, we have grown into a trusted name in the premium furniture industry, known
            for our meticulous attention to detail and unwavering commitment to excellence.
        </p>
    </div>

    <div class="p-10 bg-gray-200 rounded-lg space-y-1 max-w-5xl mx-auto">
        <h1 class="text-4xl font-medium">Our Collection</h1>
        <p>
            Our curated collection features a diverse range of styles, from classic elegance to contemporary chic.
            Each piece is crafted using the finest materials and techniques, ensuring that it meets our high standards
            of durability and aesthetics. Whether you are looking for a statement piece for your living room, a cozy
            addition to your bedroom, or a functional yet stylish solution for your home office, we have something to suit every taste and need.
        </p>
    </div>

    <div class="p-10 rounded-lg space-y-1 max-w-5xl mx-auto">
        <h1 class="text-4xl font-medium">Sustainability and Responsibility</h1>
        <p>
            We are committed to sustainability and responsible sourcing. We carefully select eco-friendly materials and
            adopt practices that minimize our environmental footprint. Our dedication to sustainability extends beyond
            our products to every aspect of our business, from production to packaging.
        </p>
    </div>

    <div class="p-10 bg-gray-200 rounded-lg space-y-1 max-w-5xl mx-auto">
        <h1 class="text-4xl font-medium">Our Promise</h1>
        <p>
            Customer satisfaction is at the heart of everything we do. We strive to provide an exceptional shopping experience, 
            from the moment you explore our collection to the delivery and installation of your furniture. Our knowledgeable and 
            friendly team is always here to assist you, ensuring that you find the perfect pieces to transform your home.
        </p>
    </div>
</section>
