@{
    ViewData["Title"] = "Contact Us";
}

<section class="flex justify-around items-center space-y-10 mt-10">
    <img src="https://joyfurniture.co.za/wp-content/uploads/2023/01/YT211.jpg" alt="Bentley chair" class="rounded-xl w-[600px] aspect-square" />

    <div class="space-y-6 max-w-3xl">
        <p class="text-xl font-medium">
            We invite you to discover the world of Furniture and experience the difference that premium quality and craftsmanship 
            can make. Visit our showroom, explore our website, or contact us to learn more about our products and services.
        </p>

        <p class="font-medium">
            <span class="text-gray-400">Find us at</span> 123 Luxury Lane, Design City, Country
        </p>

        <p class="font-medium">
            <span class="text-gray-400">Call us on</span> (123) 456-7890
        </p>

        <p class="font-medium">
            <span class="text-gray-400">Email us at</span> support@premium.com
        </p>

        <p class="font-medium">
            <span class="text-gray-400">We are open</span> Monday - Saturday: 10 AM - 7 PM | Sunday: 11 AM - 5 PM
        </p>
    </div>
</section>