@{
    ViewData["Title"] = "Home Page";
}

    <section class="text-6xl text-center mt-5">
        Hello, <span class="bg-light-blue text-white px-4 font-medium rounded">customer</span>
    </section>

    <section>
        <h1 class="text-3xl text-center mt-24 font-medium">
            &#8213;  NEW ARRIVALS  &#8213;
        </h1>

        <div class="mt-5 flex flex-wrap space-x-2 justify-around">
            <div class="mb-4">
                <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded"  />
                <p>VOOZIE Modern Fitted Office Chair</p>
                <p class="text-gray-400">R 2500.00</p>
        </div>
        <div>
            <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded" />
            <p>VOOZIE Modern Fitted Office Chair</p>
            <p class="text-gray-400">R 2500.00</p>
        </div>
        <div>
            <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded" />
            <p>VOOZIE Modern Fitted Office Chair</p>
            <p class="text-gray-400">R 2500.00</p>
        </div>
        <div>
            <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded" />
            <p>VOOZIE Modern Fitted Office Chair</p>
            <p class="text-gray-400">R 2500.00</p>
        </div>
        <div>
            <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded" />
            <p>VOOZIE Modern Fitted Office Chair</p>
            <p class="text-gray-400">R 2500.00</p>
        </div>
        <div>
            <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded" />
            <p>VOOZIE Modern Fitted Office Chair</p>
            <p class="text-gray-400">R 2500.00</p>
        </div>
        <div>
            <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded" />
            <p>VOOZIE Modern Fitted Office Chair</p>
            <p class="text-gray-400">R 2500.00</p>
        </div>
        <div>
            <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded" />
            <p>VOOZIE Modern Fitted Office Chair</p>
            <p class="text-gray-400">R 2500.00</p>
        </div>
        <div>
            <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded" />
            <p>VOOZIE Modern Fitted Office Chair</p>
            <p class="text-gray-400">R 2500.00</p>
        </div>
        <div>
            <img src="https://modernspaceliving.sg/cdn/shop/files/2_3d9819f5-e102-4626-aabe-5fa090bc3850.png?v=1715944640&width=360" alt="Lamp" class="w-[280px] object-fill rounded" />
            <p>VOOZIE Modern Fitted Office Chair</p>
            <p class="text-gray-400">R 2500.00</p>
        </div>
        </div>
</section>
