@model IEnumerable<ProductsMVC.Models.Product>

@{
    ViewData["Title"] = "Home";
}

    <section class="flex justify-center mx-auto items-center mt-5">
        <div class="max-w-lg z-10">
            <h1 class="text-4xl text-gray-500 font-medium">Hello and welcome to a space on you can create.</h1>
            <p class="text-gray-400 font-light">
                Elevate your home and office with our incredibly high-quality furniture at surprisingly affordable prices.
                Our exceptional service goes beyond the sale, ensuring a smile-worthy experience that leaves your space
                looking stylish and feeling functional.
            </p>
        </div>

        <img src="https://www.cielo.co.za/133275-large_default/laurence-2-seater-couch-ash.jpg" alt="An image of a couch and a coffee table" class="max-w-3xl -ml-16 rounded-xl" />
    </section>

    <section>
        <h1 class="text-3xl text-center mt-24 font-medium">
            &#8213;  NEW ARRIVALS  &#8213;
        </h1>

        <div class="mt-5 flex flex-wrap space-x-2 justify-around">
            
        @foreach (var product in Model)
        {
            <a asp-action="ProductDetails" asp-route-id="@product.Id" class="text-black">
                <div class="mb-4 group ">
                    <div class="w-[300px] aspect-square overflow-clip rounded">
                        <img src=@product.ImageUrl alt="..." class="w-full h-full object-fill group-hover:scale-105 transition duration-300 ease-out" />
                    </div>
                    <p class="font-medium pt-1">@product.ProductName</p>
                    <p class="text-gray-400">R @product.ProductPrice</p>
				</div>
            </a>
		}
        
        </div>
</section>

<div class="text-3xl text-center">
    <a href="#" class="hover:text-4xl transition-all duration-150 ease-out">1</a>
    <a href="#" class="hover:text-4xl transition-all duration-150 ease-out">2</a>
    ...
</div>
