@model IEnumerable<ProductsMVC.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

    <section class="text-6xl text-center mt-5">
        Hello, <span class="bg-light-blue text-white px-4 font-medium rounded">customer</span>
    </section>

    <section>
        <h1 class="text-3xl text-center mt-24 font-medium">
            &#8213;  NEW ARRIVALS  &#8213;
        </h1>

        <div class="mt-5 flex flex-wrap space-x-2 justify-around">
            
        @foreach (var product in Model)
        {
            <a asp-action="ProductDetails" asp-route-id="@product.Id" class="text-black">
                <div class="mb-4 group ">
                    <div class="w-[300px] aspect-square overflow-clip rounded">
                        <img src=@product.ImageUrl alt="..." class="w-full h-full object-fill group-hover:scale-105 transition duration-300 ease-out" />
                    </div>
                    <p class="font-medium pt-1">@product.ProductName</p>
                    <p class="text-gray-400">R @product.ProductPrice</p>
				</div>
            </a>
		}
        
        </div>
</section>

<div class="text-3xl text-center">
    <a href="#" class="hover:text-4xl transition-all duration-150 ease-out">1</a>
    <a href="#" class="hover:text-4xl transition-all duration-150 ease-out">2</a>
    ...
</div>
